cvxpy==1.6.0
facenet-pytorch==2.5.3
gpustat==1.1.1
gurobipy==12.0.0
huggingface-hub==0.27.0
numpy==2.2.0
opencv-python==4.10.0.84
pandas==2.2.3
pillow==11.0.0
python_speech_features==0.6
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
sentencepiece==0.2.0
tensorboard==2.18.0
tiktoken==0.8.0
tokenizers==0.21.0
torch==2.5.1
torchvision==0.20.1
transformers==4.47.1
